* {
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: #918E9B;
    margin: 0;
    padding-top: 1rem;
    
}

.Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #23252C;
    color: white;
    width: 317px;
}

.Img-Juan{
    width: 320px;
}

.Box--title,
.Box--Name{
    margin: 0;
    padding: 0;
}

.Box--title{
    color: #F3BF99;
}

/* buttons section */

.wrapper-buttons{
    display: flex;
    margin: 1rem;
    gap:1rem;
}

.Email,
.Linkedin{
    width: 115px;
    height: 34px;
    border: none;
    border-radius: 7px;
}

.Linkedin{
    background-color: #5093E2;
    color: white;
}

.Email{
    color: black;
    
}

.Bottom-Text{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 317px; */
}

.Box--Icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 317px;
    height: 64px;
    background-color: #161619;
}